body{
    margin: 0px;
}
.hero{
    background-color: rgb(249, 193, 109);
    display:flex;
    justify-content: space-around;
    font-family: 'Inter';
    padding: 40px;
}
.footer{
    background-color:rgb(47, 47, 47);
    color:white;
    display:flex;
    font-family: 'Inter';
    justify-content: space-around;
}
.left{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    justify-content: center;
}
button {
    display: inline-block;
    background-color: rgb(36, 36, 36); /* Background color for the button */
    padding: 20px; /* Adjust the padding to control the button size */
    border-radius: 10px; /* Rounded corners for the button */
    color:white;
    font-family: 'Inter';
  }

.input{
    padding:20px;
    font-family: 'Inter';
}
input {
    border: 1px solid #000; /* Add border */
    padding: 10px; /* Add padding for spacing */
    font-size: 16px; /* Set font size */
    border-radius:5px ;
    font-family: 'Inter';
  }

.white_text{
    color:white;
    font-family: 'Inter';   
    padding:20px;
}

.devil{
    font-size:18px;
    padding:20px;
}

.header_image{
    padding:20px;
}

.Blank{
    width: 20px; height: 10px;
}

.show_me{
    font-size:18px;
    padding:20px;
    font-weight: bold;

}
